argon2-cffi
asgiref
bcrypt
certifi
cffi
dj-database-url
Django
django-db-logger
django-filter
django-heroku
django-report-builder
djangorestframework
et-xmlfile
Faker
jdcal
Markdown
openpyxl
Pillow
pycparser
python-dateutil
pytz
six
sqlparse
text-unidecode
whitenoise
