{% extends "appFood/base.html" %}
{% block content %}

<div class="content">
  <h1 class='detail name'>{{ingredient.ingredient_name}}</h1>
  <h2 class='item list'>{{ingredient.measurement_units}} - Units</h2>
  <h2 class='item list'>{{ingredient.measurement_quantity}} - Quantity</h2>

  <a class='btn btn-primary' href="{% url 'ingredient_edit' pk=ingredient.pk %}">
    <span class="fa fa-pencil">  Edit  </span>
  </a>
  <a class='btn btn-primary' href="{% url 'ingredient_remove' pk=ingredient.pk %}">
    <span class="fa fa-remove">  Delete  </span>
  </a>
  <a class='btn btn-primary' href="{% url 'recipe_list' %}">
    <span class="fa fa-arrow-left">  Back </span>
  </a>
</div>

{% endblock %}
